#Ignore core files

.templates/.venv/'
.venv
requirements.txt
Makefile
setup-scripts/
project.meta.yaml
.templates
.envrc

# Ignore Score outputs
.score-compose/
.score-k8s/
compose.yaml
manifests.yaml
